<p *ngIf="doValidation" style="color: red">
  Đề cương này đã được duyệt, không thể xóa.
</p>
<ejs-grid
  #grid
  [dataSource]="listOutLine"
  [pageSettings]="pageSettings"
  [editSettings]="editSettings"
  [toolbar]="toolbarOptions"
  [allowTextWrap]="true"
  [filterSettings]="filterOptions"
  [allowTextWrap]="true"
  [allowSorting]="true"
  gridLines="Both"
  [allowFiltering]="true"
  (actionComplete)="actionComplete($event)"
  (actionBegin)="actionBegin($event)"
  [allowPaging]="true"
>
  <e-columns>
    <e-column
    field="ParentId"
    headerTextAlign="Center"
    headerText="Đề tài"
    width="190px"
  >
    <ng-template #template let-data>
      {{ getNameByParentId(data.ParentId) }}
    </ng-template>
    <ng-template #filterTemplate let-data>
      <ejs-dropdownlist
        id="dropdown"
        style="margin-top:10px"
        (change)="onChange3($event)"
        [fields]="fieldsTopic"
        [dataSource]="listTopic"
      >
      </ejs-dropdownlist>
    </ng-template>
  </e-column>
 
    <e-column field="Category.Name" headerText="Loại đề cương" width="15%" headerTextAlign="Center"></e-column>
    <e-column
      field="Name"
      headerText="Tên đề cương"
      width="190px"
      headerTextAlign="Center"
    >
    <ng-template #filterTemplate let-data>
      <ejs-textbox
        (change)="onChange5($event)"
      >
      </ejs-textbox>
    </ng-template>
    </e-column>
   
    <e-column
      field="EstimatedBegin"
      headerTextAlign="Center"
      headerText="Thời gian thực hiện"
      width="120px"
      textAlign="Center"
      format="dd/MM/yyyy"
      type="date"
    >
    <ng-template #filterTemplate let-data>
      <ejs-datepicker
        (change)="onChange2($event)"
        format="dd/MM/yyyy"
        placeholder="Thời gian thực hiện"
        [enableMask]="enableMaskSupport"
      >
      </ejs-datepicker>
    </ng-template></e-column>
    <e-column
      headerTextAlign="Center"
      field="EstimatedEnd"
      headerText="Thời gian hoàn thành"
      width="120px"
      textAlign="Center"
      format="dd/MM/yyyy"
      type="date"
    >
    <ng-template #filterTemplate let-data>
      <ejs-datepicker
        (change)="onChange1($event)"
        format="dd/MM/yyyy"
        placeholder="Thời gian hoàn thành"
        [enableMask]="enableMaskSupport"
      >
      </ejs-datepicker>
    </ng-template>
    </e-column>
    <e-column
      field="EstimatedBroadcasting"
      headerTextAlign="Center"
      headerText="Thời gian dự kiến phát sóng"
      width="120px"
      textAlign="Center"
      format="dd/MM/yyyy"
      type="date"
    >
    <ng-template #filterTemplate let-data>
      <ejs-datepicker
        (change)="onChange4($event)"
        format="dd/MM/yyyy"
        placeholder="Thời gian dự kiến phát sóng"
        [enableMask]="enableMaskSupport"
      >
      </ejs-datepicker>
    </ng-template>
    </e-column>
    <e-column
      field="EstimatedBudget"
      format="N0"
      headerText="Kinh phí thực hiện (VND)"
      width="120px"
      textAlign="Center"
      headerTextAlign="Center"
    >
    <ng-template #template let-data>
      <div class="">
          <div>
              <div>{{data.EstimatedBudget | number}}</div>
          </div>
      </div>
  </ng-template>
    <ng-template #filterTemplate let-data>
      <ejs-textbox
      type="number"
        (change)="onChange6($event)"
        textAlign="Center"
        
      >
      </ejs-textbox>
    </ng-template>
  </e-column>
   <e-column field="CreatedBy" headerText="Đạo diễn" width="120px" headerTextAlign="Center" textAlign="Center" *ngIf="checkRole">
    <ng-template #template let-data>
      {{handleRenderMember(data.CreatedBy)}}
    </ng-template></e-column>

    <e-column
      field="Status"
      headerTextAlign="Center"
      headerText="Trạng thái"
      textAlign="Center"
      width="120px"
    >
      <ng-template #template let-data>
        {{ renderStatus(data) }}
      </ng-template>
    
      <ng-template #filterTemplate let-data>
        <ejs-dropdownlist
          id="dropdown"
          textAlign="Center"
          class="e-class"
          placeholder="Trạng thái"
          (change)="onChange($event)"
          [fields]="fields"
          style="margin-top:8px"
          [dataSource]="listStatus"
        >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
<div #container class="root-container"></div>
<ejs-dialog #ejDialog [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>