<ejs-grid #grid
    [dataSource]="listPlan"
    [editSettings]="editSettings"
    [pageSettings]="pageSettings"
    [toolbar]="toolbarOptions"
    (actionBegin)="actionBegin($event)"
    [allowPaging]="true">
<e-columns>
    <!-- <e-column field="Estimates" headerText="Dự toán">
        <ng-template #template let-data>
            <div *ngFor="let item of data.Estimates">
                {{ item.TaskName }}
            </div>
        </ng-template>
    </e-column> -->
    <e-column field="Name" headerText="Tên"></e-column>
    <e-column field="CloseDate" headerText="Ngày kết thúc">
        <ng-template #template let-data>
            {{ data.CloseDate | date:'dd/MM/yyyy' }}
          </ng-template>
    </e-column>
    <e-column field="CloseReason" headerText="Lý do kết thúc"></e-column>
    <e-column field="CloseNote" headerText="Ghi chú"></e-column>
    <!-- <e-column field="PreproductionProgresses.TotalProgress" headerText="Tiến trình của kế hoạch"></e-column> -->
    <e-column field="Status" headerText="Trạng thái" [template]="templateStatus">
        <ng-template #templateStatus let-data>
            {{ renderStatus(data) }}
        </ng-template>
    </e-column>
</e-columns>
</ejs-grid>