<ejs-grid
#grid
[dataSource]="listCate"
[toolbar]="toolbarOptions"
[editSettings]="editSettings"
width="max"
gridLines="Both"
[filterSettings]="filterOptions"
[allowFiltering]="true"
[allowTextWrap]="true"
(actionBegin)="actionBegin($event)"
(actionComplete)="actionComplete($event)"
[allowPaging]="true"
[pageSettings]="pageSettings"
[allowSorting]="true" height='455'
>
<e-columns>
  <e-column
      field="Name"
      headerText="Loại Đề Tài"
      width="30%"
      [validationRules]="NameValidationRules"
      headerTextAlign="Center"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            name="Name"
            #default
            [value]="data.Name"
            floatLabelType="Auto"
            rows="1"
            placeholder="Loại Đề Tài*"
            (change)="changeStatus($event)"
            required="true"
          ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange1($event)">
        </ejs-textbox>
      </ng-template>
    </e-column>
  <e-column
    field="Description"
    headerText="Mô Tả"
    textAlign="Left"
    format="yMd"
    headerTextAlign="Center"
    width="70%">
    <ng-template #editTemplate let-data> 
      <div class="multiline">
        <ejs-textbox #default [multiline]='true' [value]="data.Description"
            floatLabelType='Auto' placeholder='Mô Tả' (change)="changeStatus2($event)"  ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange2($event)" >
        </ejs-textbox>
      </ng-template>
  </e-column>
  <!-- <e-column
    field="ParentId"
    headerText="Loại Phim"
    editType="dropdownedit" width="30%"
  >
    <ng-template #template let-data>
      {{ getNameByParentId(data.ParentId) }}
    </ng-template>
    <ng-template #editTemplate let-data>
      <ejs-dropdownlist
        *ngIf="parentIdList"
        [dataSource]="parentIdList"
        [fields]="dropdownFields"
        [(ngModel)]="data.ParentId"
        (change)="onchange($event)"
        floatLabelType="Auto"
        placeholder="Loại Phim*"
      ></ejs-dropdownlist>
    </ng-template>
  </e-column> -->
</e-columns>
</ejs-grid>