<p *ngIf="messageDelete" style="color: red">
  Không xóa được danh mục này, vì đang được sử dụng ở danh mục Nhóm Quyền.
</p>
<ejs-grid
  #grid
  [dataSource]="listCate"
  [toolbar]="toolbarOptions"
  [editSettings]="editSettings"
  width="max"
  [allowFiltering]="true"
  [allowTextWrap]="true"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [allowPaging]="true"
  [pageSettings]="pageSettings"
  [allowSorting]="true"
  height="auto"
>
  <e-columns>
    <e-column
      field="Name"
      headerText="Tên Quyền"
      width="30%"
      [validationRules]="NameValidationRules"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            name="Name"
            #default
            [value]="data.Name"
            floatLabelType="Always"
            rows="1"
            placeholder="Tên Quyền*"
            (change)="changeStatus($event)"
            required="true"
          ></ejs-textbox>
        </div>
      </ng-template>
    </e-column>
    <e-column
      field="Description"
      headerText="Mô Tả"
      textAlign="Left"
      format="yMd"
      width="70%"
    >
      <ng-template #template let-data>
        {{ renderPermissionName(data.Description) }}
        {{ renderRouteName(data.Description) }}
      </ng-template>
      <ng-template #editTemplate let-data>
        <div class="multiline" style="margin-bottom: 10px">
          <!-- <ejs-textbox
            #default
            [multiline]="true"
            [value]="data.Description"
            floatLabelType="Auto"
            placeholder="Mô Tả"
            (change)="changeStatus2($event)"
          ></ejs-textbox> -->
          <ejs-dropdownlist
            floatLabelType="Always"
            placeholder="Chọn mục"
            [dataSource]="typeDropdownData"
            [fields]="dropdownFields"
            [value]="selectedRoute"
            (valueChange)="onValueRouteChange($event)"
          >
          </ejs-dropdownlist>
        </div>
        <div class="multiline">
          <ejs-dropdownlist
            floatLabelType="Always"
            placeholder="Chọn quyền"
            [dataSource]="dropdownListData"
            [fields]="dropdownFields"
            [value]="selectedPermission"
            (valueChange)="onValuePermissionChange($event)"
          >
          </ejs-dropdownlist>
        </div>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
