<div class="row">
  <div class="col-lg-4 col-md-5">
    <div class="card border-0 box-shadow mb-4" style="width: 440px">
      <img
        class="card-img-top w-100"
        src="assets/img/users/avatar-2.jpg"
        alt="user"
      />
      <div class="card-body">
        <h4 class="card-title text-center">
          {{ userLogged.getCurrentUser().userName }}
        </h4>
        <h5 class="card-title text-center text-info">
          {{ listUser.FirstName }} {{ listUser.LastName }}
        </h5>
        <!-- <h6 class="card-subtitle text-muted">About:</h6> -->
        <div class="info-container">
          <div class="dropdown-divider w-100"></div>
          <div class="row">
            <div class="col-md-5 text-left">Số điện thoại:</div>
            <div class="col-md-7 text-right">
              <strong class="d-inline-block">{{ listUser.Tel }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 text-left">Tên tài khoản:</div>
            <div class="col-md-7 text-right">
              <strong class="d-inline-block">{{ listUser.UserName }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 text-left">Email:</div>
            <div class="col-md-7 text-right">
              <strong class="d-inline-block" style="margin-left: -20px">{{
                listUser.Email
              }}</strong>
            </div>
          </div>

          <div
            class="row"
            style="margin-top: 0px"
            *ngIf="listUser.UserRoles.length > 0"
          >
            <div class="col-md-5 text-left">Quyền:</div>
            <div class="col-md-7 text-right">
              <strong class="d-inline-block" style="margin-left: -20px">
                <div *ngFor="let item of listUser.UserRoles">
                  {{ item.Role.Name }}
                </div>
              </strong>
            </div>
          </div>
        </div>

        <button
          style="margin-top: 20px"
          class="btn btn-outline-info btn-sm btn-rounded float-right mb-3 px-4"
        >
          <a href="profile/user-info"> Sửa </a>
          <i class="fa fa-long-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
