<label class="label-title">Tiến độ từng phân đoạn</label>
<!-- Thông tin tiến độ sản xuất  -->
<div class="d-flex container-collapse" (click)="toggleForm()">
  <div class="fa-1x mx-4 my-3">
    <i [className]="isCollapsed ? 'fa fa-plus' : 'fa fa-minus'"></i>
  </div>
  <span class="label-custom">Thông tin tiến độ sản xuất</span>
</div>
<form (ngSubmit)="onSubmit()" #form="ngForm" [ngbCollapse]="isCollapsed">
  <div id="collapseExample">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-4" style="margin-top: -7px">
            <ejs-textbox
              placeholder="Phân đoạn*"
              [value]="listSegment !== undefined ? listSegment.Scenario: ''"
              [readonly]="!enableForm"
              floatLabelType="Auto"
              (valueChange)="
                onInputChangeSegment({ key: 'Scenario', value: $event })
              "
            >
            </ejs-textbox>
            <p *ngIf="checkSegmentName" style="color: red">
              Thông tin này là bắt buộc
            </p>
          </div>
          <div class="form-group col-md-4" style="margin-top: -7px">
            <ejs-datepicker
              floatLabelType="Auto"
              [readonly]="!enableForm"
              (valueChange)="
                onInputChangeSegment({ key: 'FromDate', value: $event })
              "
              format="dd/MM/yyyy"
              placeholder="Ngày bắt đầu"
              [value]="listSegment !== undefined ? listSegment.FromDate : ''"
            >
            </ejs-datepicker>
          </div>
          <div class="form-group col-md-4" style="margin-top: -7px">
            <ejs-datepicker
              [readonly]="!enableForm"
              (valueChange)="
                onInputChangeSegment({ key: 'ToDate', value: $event })
              "
              floatLabelType="Auto"
              format="dd/MM/yyyy"
              placeholder="Ngày kết thúc"
              [value]="listSegment !== undefined ? listSegment.ToDate : ''"
            >
            </ejs-datepicker>
          </div>

          <div class="form-group col-md-4" style="margin-top: -7px">
            <ejs-dropdownlist
              placeholder="Chọn tỉnh/ thành phố"
              floatLabelType="Auto"
              [readonly]="!enableForm"
              [dataSource]="addressDetail"
              [fields]="dropdownField"
              [value]="listSegment !== undefined ? listSegment.ProvinceId : ''"
              (valueChange)="onChangeProvince($event)"
            >
            </ejs-dropdownlist>
          </div>
          <div class="form-group col-md-4" style="margin-top: -7px">
            <ejs-dropdownlist
              placeholder="Quận/ huyện"
              [dataSource]="addressDistrict"
              [fields]="dropdownField"
              [readonly]="!enableForm"
              floatLabelType="Auto"
              cssClass="e-custom"
              [value]="listSegment !== undefined ? listSegment.DistrictId : ''"
              (valueChange)="onChangeDistrict($event)"
            >
            </ejs-dropdownlist>
          </div>
          <div class="form-group col-md-4" style="margin-top: -7px">
            <ejs-dropdownlist
              placeholder="Xã/ phường"
              floatLabelType="Auto"
              [value]="listSegment !== undefined ? listSegment.CommuneId : ''"
              [readonly]="!enableForm"
              [dataSource]="addressCommune"
              [fields]="dropdownField"
              (valueChange)="onChangeCommune($event)"
            >
            </ejs-dropdownlist>
          </div>

          <div class="form-group col-md-6" style="margin-top: -7px">
            <ejs-textbox
              placeholder="Địa chỉ cụ thể"
              [value]="listSegment !== undefined ? listSegment.Address : ''"
              [readonly]="!enableForm"
              floatLabelType="Auto"
              (valueChange)="
                onInputChangeSegment({ key: 'Address', value: $event })
              "
            >
            </ejs-textbox>
          </div>
          <div class="form-group col-md-6" style="margin-top: -7px">
            <ejs-textbox
              placeholder="Chi phí"
              type="number"
              [readonly]="!enableForm"
              [value]="listSegment !== undefined ? listSegment.Budget : ''"
              floatLabelType="Auto"
              (valueChange)="
                onInputChangeSegment({ key: 'Budget', value: $event })
              "
            >
            </ejs-textbox>
          </div>
        </div>
        <div class="d-flex col justify-content-center mt-5" *ngIf="!checks">
          <button
            class="btn btn-secondary btn-custom mr-4 btn-custom-large py-2"
            type="button"
            (click)="onCancelClick()"
          >
            Hủy
          </button>
          <button
            class="btn btn-primary btn-custom btn-custom-large py-2"
            type="submit"
            content="Save"
          >
            Lưu
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="hr"></div>
<div [ngbCollapse]="idSegment ? false : true">
  <div class="d-flex container-collapse" (click)="toggleForm1()">
    <div class="fa-1x mx-4 my-3">
      <i [className]="isCollapsed1 ? 'fa fa-plus' : 'fa fa-minus'"></i>
    </div>
    <span class="label-custom">Thành viên cho phân đoạn</span>
  </div>

  <ejs-grid
    #parentGrid
    [ngbCollapse]="isCollapsed1"
    [dataSource]="listSegmentMember"
    [pageSettings]="pageSettings"
    [editSettings]="editSettings"
    [allowPaging]="true"
    [toolbar]="toolbarOptions"
    (actionComplete)="actionCompleteSegmentMember($event)"
    (actionBegin)="onActionBeginSegmentMember($event)"
  >
    <e-columns>
      <e-column field="UserId" headerText="Thành viên" editType="dropdownedit">
        <ng-template let-data #template>{{
          handleRenderMember(data.UserId)
        }}</ng-template>

        <ng-template #editTemplate let-data>
          <ejs-dropdownlist
            [dataSource]="listUser"
            [ngModelOptions]="{ standalone: true }"
            floatLabelType="Auto"
            [fields]="dropdownUser"
            placeHolder="Thành viên*"
            [itemTemplate]="itemTemplate"
            [valueTemplate]="valueTemplate"
            [(ngModel)]="data.UserId"
            (valueChange)="
              onInputChangeSegmentMember({
                key: 'UserId',
                value: $event
              })
            "
          >
            <ng-template #itemTemplate let-data>
              <span>{{ data.FirstName }} {{ data.LastName }}</span>
            </ng-template>

            <ng-template #valueTemplate let-data>
              <span>{{ data.FirstName }} {{ data.LastName }}</span>
            </ng-template>
          </ejs-dropdownlist>
        </ng-template>
      </e-column>
      <e-column field="Role" headerText="Vai Trò" editType="editTemplate">
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              #default
              [multiline]="true"
              [value]="data.Role"
              floatLabelType="Auto"
              placeholder="Vai Trò"
              (valueChange)="
                onInputChangeSegmentMember({
                  key: 'Role',
                  value: $event
                })
              "
            ></ejs-textbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="Description" headerText="Mô Tả" editType="editTemplate">
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              #default
              [multiline]="true"
              [value]="data.Description"
              floatLabelType="Auto"
              placeholder="Mô Tả"
              (valueChange)="
                onInputChangeSegmentMember({
                  key: 'Description',
                  value: $event
                })
              "
            ></ejs-textbox>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>
<div #container class="root-container"></div>
<ejs-dialog #ejDialog [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>