
:host ::ng-deep {
    .e-grid {
      .e-gridheader {
        font-size: 26px;
        .e-headerrow {
          &:nth-child(odd) {
            background-color: #f4fbfb;
           
          }
  
          &:nth-child(even) {
            background-color: #ffffff;
          }
        }
      }
  
      .e-row {
        &:nth-child(odd) {
          background-color: #f4fbfb;
        }
  
        &:nth-child(even) {
          background-color: #ffffff;
        }
      }
    }
  }
  