.file-upload {
    .file-upload-btn {
      position: absolute;
      width: 100%;
      height: 35px;
      z-index: 9;
      opacity: 0;
    }
    .delete-file {
      position: absolute;
      right: 50px;
      top: 8px;
      font-size: 16px;
      opacity: 0.8;
      cursor: pointer;
      z-index: 99;
      visibility: hidden;
    }
    &:hover .delete-file {
      visibility: visible;
    }
  }

  .url-link {
    color: #495057;
    &:hover {
      color: #2f3e9e;
    }
  }
  .label-custom {
    font-weight: bold;
  }
  .label-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .urlClass {
    display: block;
    text-align: center;
  
    margin-bottom: 8px;
  }
  
  .e-grid .e-headercell {
    text-align: center;
    color: black;
  
    background-color: white;
  }
  .e-grid .e-headertext{
    text-align: center;
  
    font-weight: bold;
  }
  :host ::ng-deep {
    .e-grid {
      .e-gridheader {
        font-size: 26px;
        .e-headerrow {
          &:nth-child(odd) {
            background-color: #f4fbfb;
           
          }
  
          &:nth-child(even) {
            background-color: #ffffff;
          }
        }
      }
  
      .e-row {
        &:nth-child(odd) {
          background-color: #f4fbfb;
        }
  
        &:nth-child(even) {
          background-color: #ffffff;
        }
      }
    }
  }
  



