<p *ngIf="message" style="color: red">
  Không xóa được mục này, vì đang được sử dụng ở danh mục Xã/ Phường.
</p>
<ejs-grid
  #grid
  [dataSource]="listCate"
  [allowTextWrap]="true"
  [toolbar]="toolbarOptions"
  [editSettings]="editSettings"
  width="max"
  gridLines="Both"
  [filterSettings]="filterOptions"
  [allowFiltering]="true"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [allowSorting]="true"
  [allowPaging]="true"
  [pageSettings]="pageSettings"
  height="455"
>
  <e-columns>
    <e-column
      field="Name"
      headerText="Quận/ Huyện"
      width="30%"
      [validationRules]="NameValidationRules"
      headerTextAlign="Center"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            name="Name"
            #default
            [value]="data.Name"
            floatLabelType="Auto"
            rows="1"
            placeholder="Quận/ Huyện*"
            (change)="changeStatus($event)"
            required="true"
          ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange1($event)">
        </ejs-textbox>
      </ng-template>
    </e-column>
    <e-column
      field="Description"
      headerText="Mô Tả"
      textAlign="Left"
      width="40%"
      headerTextAlign="Center"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            #default
            [multiline]="true"
            [value]="data.Description"
            floatLabelType="Auto"
            placeholder="Mô Tả"
            (change)="changeStatus2($event)"
          ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange2($event)">
        </ejs-textbox>
      </ng-template>
    </e-column>
    <e-column
      field="ParentId"
      headerText=" Tỉnh/ Thành phố"
      editType="dropdownedit"
      width="30%"
      headerTextAlign="Center"
    >
      <ng-template #template let-data>
        {{ getNameByParentId(data.ParentId) }}
      </ng-template>
      <ng-template #editTemplate let-data>
        <ejs-dropdownlist
          *ngIf="parentIdList"
          [dataSource]="parentIdList"
          [fields]="dropdownFields"
          floatLabelType="Auto"
          placeholder="Tỉnh/Thành Phố*"
          [(ngModel)]="data.ParentId"
          (change)="onchange($event)"
        ></ejs-dropdownlist>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-dropdownlist
          id="dropdown"
          textAlign="Center"
          (change)="onChange3($event)"
          [fields]="fields"
          style="margin-top: 10px;"
          [dataSource]="parentIdList"
        >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
<div #container class="root-container"></div>
<ejs-dialog #ejDialog [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>