<p *ngIf="message" style="color: red">
  Không thể xóa được nhóm quyền này vì đang được sử dụng.
</p>

<ejs-grid
  #grid
  [dataSource]="permissDetail"
  [toolbar]="toolbarOptions"
  [editSettings]="editSettings"
  width="max"
  gridLines="Both"
  [allowFiltering]="true"
  [allowTextWrap]="true"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [allowPaging]="true"
  [pageSettings]="pageSettings"
  [allowSorting]="true"
  height="auto"
>
  <e-columns>
    <e-column
      field="Name"
      headerText="{{ 'ROLE.ROLENAME' | translate }}"
      width="30%"
      [validationRules]="NameValidationRules"
      headerTextAlign="Center"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            name="Name"
            #default
            [value]="data.Name"
            floatLabelType="Auto"
            rows="1"
            placeholder=" Tên Nhóm Quyền*"
            (valueChange)="onInputChange({ key: 'Name', value: $event })"
            required="true"
          ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange1($event)">
        </ejs-textbox>
      </ng-template>
    </e-column>

    <e-column
      field="Description"
      headerText="Mô Tả"
      textAlign="Left"
      format="yMd"
      width="40%"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            #default
            [multiline]="true"
            [value]="data.Description"
            floatLabelType="Auto"
            placeholder="Mô Tả"
            (valueChange)="onInputChange({ key: 'Description', value: $event })"
          ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange2($event)">
        </ejs-textbox>
      </ng-template>
    </e-column>
    <!-- <e-column
      field="RoleRightRoles"
      headerText="Quyền"
      textAlign="Left"
      format="yMd"
      width="30%"
      editType="dropdownedit"
      [allowFiltering]="false"
    >
      <ng-template #template let-data>
        <div *ngFor="let item of data.RoleRightRoles">
          {{ item.Right.Name }}
        </div>
      </ng-template>
      <ng-template #editTemplate let-data>
        <ejs-multiselect
          #ejMultiSelect
          floatLabelType="Auto"
          placeHolder="Chọn Quyền*"
          [dataSource]="listPermissions"
          [fields]="multipleField"
          [value]="listRoleSelected"
          (valueChange)="onPermissionChange($event)"
          [closePopupOnSelect]="false"
          [allowFiltering]="true"
          [filterType]="filterType"
        >
        </ejs-multiselect>
      </ng-template>
    </e-column> -->
  </e-columns>
</ejs-grid>
<div #container class="root-container"></div>
<ejs-dialog #ejDialog [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>