
<ejs-grid
#grid
[dataSource]="listCate"
[toolbar]="toolbarOptions"
[editSettings]="editSettings"
width="max"
[filterSettings]="filterOptions"
[allowFiltering]="true"
[allowTextWrap]="true"
gridLines="Both"
(actionBegin)="actionBegin($event)"
(actionComplete)="actionComplete($event)"
[allowPaging]="true"
[pageSettings]="pageSettings"
[allowSorting]="true" height='455'
>
<e-columns>
  <e-column
      field="Name"
      headerText="Kênh Truyền Hình"
      width="30%"
      [validationRules]="NameValidationRules"
      headerTextAlign="Center"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            name="Name"
            #default
            [value]="data.Name"
            floatLabelType="Auto"
            rows="1"
            placeholder="Kênh Truyền Hình*"
            (change)="changeStatus($event)"
            required="true"
          ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange1($event)">
        </ejs-textbox>
      </ng-template>
    </e-column>
  <e-column
    field="Description"
    headerText="Mô Tả"
    textAlign="Left"
    format="yMd"
    headerTextAlign="Center"
    width="40%">
    <ng-template #editTemplate let-data> 
      <div class="multiline">
        <ejs-textbox #default [multiline]='true' [value]="data.Description"
            floatLabelType='Auto'  placeholder='Mô Tả' (change)="changeStatus2($event)"  ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange2($event)">
        </ejs-textbox>
      </ng-template>
  </e-column>
  <e-column
    field="ParentId"
    headerText="Tên Đài Truyền Hình"
    headerTextAlign="Center"
    editType="dropdownedit" width="30%" required
  >
    <ng-template #template let-data>
      {{ getNameByParentId(data.ParentId) }}
    </ng-template>
    <ng-template #editTemplate let-data>
      <ejs-dropdownlist
        *ngIf="parentIdList"
        [dataSource]="parentIdList"
        [fields]="dropdownFields"
        floatLabelType="Auto"
        placeholder="Đài Truyền Hình*"
        [(ngModel)]="data.ParentId"
        (change)="onchange($event)"
      ></ejs-dropdownlist>
    </ng-template>
    <ng-template #filterTemplate let-data>
      <ejs-dropdownlist
        id="dropdown"
        textAlign="Center"
        style="margin-top: 10px;"
        (change)="onChange3($event)"
        [fields]="dropdownFields"
        [dataSource]="parentIdList"
      >
      </ejs-dropdownlist>
    </ng-template>
  </e-column>
</e-columns>
</ejs-grid>

<div #container class="root-container"></div>
<ejs-dialog #ejDialog [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>