<div class="card">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <!-- ten -->
      <div class="row">
        <div class="form-group col-md-6">
          <label class="label-custom">Tên Tổ Đội* </label>
          <app-textarea-input
            (newItemEvent)="onInputChange($event)"
            key="Name"
            [value]="listTeam.Name"
            placeHolder="Nhập tên tổ đội..."
          ></app-textarea-input>
          <p *ngIf="warrning" style="color: red">Thông tin này là bắt buộc.</p>
        </div>
        <!-- ho  -->
        <div class="form-group col-md-6">
          <label for="Description" class="label-custom">Mô Tả </label>
          <app-textarea-input
            [multiline]="true"
            (newItemEvent)="onInputChange($event)"
            key="Description"
            [value]="listTeam.Description"
            placeHolder="Nhập Mô Tả..."
          ></app-textarea-input>
        </div>

        <div class="form-group col-md-6">
          <label class="label-custom">Lãnh đạo</label>
          <ejs-dropdownlist
            id="Scenario"
            floatLabelType="Never"
            [value]="listTeam.LeaderId"
            [dataSource]="listUser"
            [fields]="dropdownFields"
            (valueChange)="onInputChange({ key: 'LeaderId', value: $event })"
            placeHolder="Chọn lãnh đạo"
          ></ejs-dropdownlist>
        </div>

        <div class="form-group col-md-6">
          <label class="label-custom">Thành Viên</label>
          <ejs-multiselect
            placeholder="Chọn Thành Viên Cho Tổ Đội "
            [dataSource]="listUser"
            [fields]="dropdownFields"
            (valueChange)="onChangeUser($event)"
            [(ngModel)]="userText"
            name="userText"
          >
          </ejs-multiselect>
        </div>
      </div>
      <div class="row justify-content-center mt-4 mb-5">
        <button
          class="btn btn-secondary btn-custom mr-4 btn-custom-large py-2"
          type="button"
          (click)="onCancelClick()"
        >
          Hủy
        </button>
        <button
          class="btn btn-primary btn-custom btn-custom-large py-2"
          type="submit"
          content="Save"
        >
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>
