<p *ngIf="message" style="color: red">Hãy nhập đầy đủ thông tin.</p>
<p *ngIf="message1" styl="color: red">
  Bạn chưa chọn loại Đề Cương, vui lòng chọn lại!
</p>
<ejs-grid
  #grid
  [dataSource]="listCate"
  [allowTextWrap]="true"
  [toolbar]="toolbarOptions"
  [editSettings]="editSettings"
  [filterSettings]="filterOptions"
  [pageSettings]="pageSettings"
  width="100%"
  gridLines="Both"
  [allowFiltering]="true"
  [allowPaging]="true"
  (actionBegin)="actionBegin($event)"
  (actionComplete)="actionComplete($event)"
  [allowSorting]="true"
  height="455"
>
  <ng-template #editTemplate>
    <ejs-dropdownlist
      *ngIf="parentIdList"
      [dataSource]="parentIdList"
      [fields]="dropdownFields"
      [value]="parentIdList[0].Id"
    ></ejs-dropdownlist>
  </ng-template>
  <e-columns>
    <e-column
      field="Name"
      headerText="Loại Chi Phí"
      width="30%"
      headerTextAlign="Center"
      [validationRules]="NameValidationRules"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            name="Name"
            #default
            [value]="data.Name"
            floatLabelType="Auto"
            rows="1"
            placeholder="Chi Phí*"
            (change)="changeStatus2($event)"
            required="true"
          ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange1($event)">
        </ejs-textbox>
      </ng-template>
    </e-column>
    <e-column
      field="Description"
      headerText="Mô Tả"
      width="40%"
      editType="editTemplate"
      headerTextAlign="Center"
    >
      <ng-template #editTemplate let-data>
        <div class="multiline">
          <ejs-textbox
            #default
            [multiline]="true"
            [value]="data.Description"
            floatLabelType="Auto"
            placeholder="Mô Tả"
            (change)="changeStatus($event)"
          ></ejs-textbox>
        </div>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-textbox (change)="onChange2($event)">
        </ejs-textbox>
      </ng-template>
      <!-- <ng-template #editTemplate let-data>
   <label>Mô Tả</label>
      <ejs-textbox multiline="true" [value]="data.Description" (change)="changeStatus($event)"></ejs-textbox>
    </ng-template> -->
    </e-column>
    <e-column
      field="ParentId"
      headerText="Loại Đề Cương"
      editType="dropdownedit"
      width="30%"
      headerTextAlign="Center"
    >
      <ng-template #template let-data>
        {{ getNameByParentId(data.ParentId) }}
      </ng-template>

      <ng-template #editTemplate let-data>
        <ejs-dropdownlist
          *ngIf="parentIdList"
          floatLabelType="Auto"
          [dataSource]="parentIdList"
          placeholder="Đề Cương*"
          [fields]="dropdownFields"
          [(ngModel)]="data.ParentId"
          (change)="onchange($event)"
        ></ejs-dropdownlist>
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-dropdownlist
          id="dropdown"
          textAlign="Center"
          (change)="onChange($event)"
          [fields]="fields"
          style="margin-top: 10px;"
          [dataSource]="parentIdList"
        >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
<div #container class="root-container"></div>
<ejs-dialog #ejDialog [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>