.urlClass {
    display: block;
    text-align: center;
  
    margin-bottom: 8px;
  }
  
  .e-grid .e-headercell {
    text-align: center;
    color: black;
  
    background-color: white;
  }
  .e-grid .e-headertext{
    font-weight: bold;
    font-size: 13px;

  }
  :host ::ng-deep {
    .e-grid {
      .e-gridheader {
        font-size: 26px;
        .e-headerrow {
          &:nth-child(odd) {
            background-color: #f4fbfb;
           
          }
  
          &:nth-child(even) {
            background-color: #ffffff;
          }
        }
      }
  
      .e-row {
        &:nth-child(odd) {
          background-color: #f4fbfb;
        }
  
        &:nth-child(even) {
          background-color: #ffffff;
        }
      }
    }
  }
  

  :host ::ng-deep .e-dropdownlist .e-input-group input {
    text-align: center;
  }