
<ejs-grid
  #grid
  [dataSource]="planDetail"
  [editSettings]="editSettings"
  [toolbar]="toolbarOptions"
  [filterSettings]="filterOptions"
  [allowTextWrap]="true"
  [allowSorting]="true"
  gridLines="Both"
  [allowFiltering]="true"
  [allowPaging]="true"
  (actionBegin)="actionComplete($event)"
  [pageSettings]="pageSettings"
>
  <e-columns>
    <e-column field="Topic.Name" headerText="Đề cương" width="160px" headerTextAlign="Center">
      <ng-template #filterTemplate let-data>
        <ejs-textbox
          (change)="onChange2($event)"
        >
        </ejs-textbox>
      </ng-template>
    </e-column>
    <e-column field="Category.Name" headerText="Loại phim" headerTextAlign="Center" width="160px"></e-column>
    <e-column field="Name" headerText="Phim" width="160px" headerTextAlign="Center">
      <ng-template #filterTemplate let-data>
        <ejs-textbox
          (change)="onChange1($event)"
        >
        </ejs-textbox>
      </ng-template>
    </e-column>
   

    <e-column
      field="Description"
      headerText="Mô tả"
      headerTextAlign="Center"
      width="450px"
    >
    <ng-template #filterTemplate let-data>
      <ejs-textbox
        (change)="onChange3($event)"
      >
      </ejs-textbox>
    </ng-template>
  </e-column>
    <!-- <e-column
      field="PreproductionSegments"
      headerText="Phân đoạn chi tiết"
      width="250px"
    >
      <ng-template #template let-data>
        <div *ngFor="let item of data.PreproductionSegments">
          {{ item.Scenario }}
        </div>
      </ng-template>
    </e-column> -->
    <!-- <e-column field="PreproductionProgresses" headerText="Tiến trình của kế hoạch" width="160px">
      <ng-template #template let-data>
        <div *ngFor="let item of data.PreproductionProgresses">
          {{ item.TotalProgress }}
        </div>
      </ng-template>
    </e-column> -->

    <e-column field="CreatedBy" headerText="Đạo diễn" width="120px" headerTextAlign="Center" *ngIf="checkRole" textAlign="Center">
      <ng-template #template let-data>
        {{handleRenderMember(data.CreatedBy)}}
      </ng-template></e-column>

    <e-column
      field="Status"
      headerTextAlign="Center"
      headerText="Trạng thái"
      width="150px"
      textAlign="Center"
      [template]="templateStatus" 
    >
      <ng-template #templateStatus let-data>
        {{ renderStatus(data) }}
      </ng-template>
      <ng-template #filterTemplate let-data>
        <ejs-dropdownlist
          id="dropdown"
          placeholder="Trạng thái"
          style="margin-top:10px"
          (change)="onChange4($event)"
          [fields]="fields"
          [dataSource]="listStatus"
        >
        </ejs-dropdownlist>
      </ng-template>
    </e-column>
  </e-columns>
</ejs-grid>
<div #container class="root-container"></div>
<ejs-dialog #ejDialog [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>
