<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
  "
>
  <div
    style="
      display: flex;
      align-items: center;
      margin-top: 40px;
      width: 50%;
      margin-bottom: -30px;
    "
  >
    <div style="border-bottom: 1px solid #000; flex-grow: 1; width: 25%"></div>
    <div style="flex-grow: 1; text-align: center">
      <div
        style="
          padding: 0 10px;
          font-size: 25px;
          font-family: 'Museo Sans Rounded';
          font-weight: 900;
        "
        class="label-title;"
      >
        THÔNG TIN CHUNG
      </div>
    </div>
    <div style="border-bottom: 1px solid #000; flex-grow: 1; width: 25%"></div>
  </div>
</div>

<label class="label-title" style="margin-top: 25px">
  Kế hoạch sản xuất tiền kỳ</label
>
<div>
  <div class="d-flex container-collapse" (click)="toggleCollapse4()">
    <div class="fa-1x mx-4 my-3">
      <i [className]="isCollapsed4 ? 'fa fa-plus' : 'fa fa-minus'"></i>
    </div>
    <span class="label-custom">Thông tin kế hoạch</span>
  </div>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div [ngbCollapse]="isCollapsed4" id="collapseExample">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-4" style="margin-top: 6px">
              <label class="label-custom">Đề cương*</label>
              <ejs-dropdownlist
                [value]="planDetail.TopicId"
                [dataSource]="listTopic"
                [readonly]="!enableForm || planDetail.Status != undefined"
                [fields]="dropdownField"
                (change)="onChange($event)"
                placeHolder="Chọn một đề cương"
              >
              </ejs-dropdownlist>
              <p *ngIf="message2" style="color: red">
                Thông tin này là bắt buộc
              </p>
            </div>
            <div class="form-group col-md-4" style="margin-top: 6px">
              <label class="label-custom">Loại phim*</label>
              <ejs-dropdownlist
                [value]="planDetail.CategoryId"
                [dataSource]="listCate"
                [readonly]="
                  !enableForm ||
                  planDetail.Status >= 3 ||
                  planDetail.Status == -5
                "
                [fields]="dropdownField"
                (change)="onChangeFilm($event)"
                placeHolder="Chọn loại phim"
              >
              </ejs-dropdownlist>
              <p *ngIf="message2" style="color: red">
                Thông tin này là bắt buộc
              </p>
            </div>
            <div class="form-group col-md-4" style="margin-top: 6px">
              <label class="label-custom">Phim*</label>
              <ejs-textbox
                (change)="onChangeNameFilm($event)"
                key="Name"
                [readonly]="
                  !enableForm ||
                  planDetail.Status >= 3 ||
                  planDetail.Status == -5
                "
                rows="1"
                [value]="planDetail.Name"
                placeHolder="Nhập phim..."
              ></ejs-textbox>
              <p *ngIf="message1" style="color: red">
                Thông tin này là bắt buộc
              </p>
            </div>
            

            <div class="form-group col-md-6">
              <label class="label-custom">Kịch bản chi tiết</label>
              <app-textarea-input
                [multiline]="true"
                [readonly]="
                  !enableForm ||
                  planDetail.Status >= 3 ||
                  planDetail.Status == -5
                "
                (newItemEvent)="onInputChange($event)"
                key="Scenario"
                [value]="planDetail.Scenario"
                placeHolder="Nhập kịch bản chi tiết.."
              ></app-textarea-input>
            </div>

            <div class="form-group col-md-6">
              <label class="label-custom">Mô tả</label>
              <app-textarea-input
                [multiline]="true"
                [readonly]="
                  !enableForm ||
                  planDetail.Status >= 3 ||
                  planDetail.Status == -5
                "
                (newItemEvent)="onInputChange($event)"
                key="Description"
                [value]="planDetail.Description"
                placeHolder="Nhập mô tả..."
              ></app-textarea-input>
            </div>
          </div>
          <div
            class="row col justify-content-center mt-5"
            style="margin-left: 3px"
            *ngIf=" 
              planDetail.Status === 2 ||
              planDetail.Status === 1 ||
              planDetail.Status === undefined ||
              planDetail.Status === 0 
            "
          >
            <button
              class="btn btn-secondary btn-custom mr-4 btn-custom-large py-2"
              type="button"
              *ngIf=" !enableApprove"
              (click)="onCancelClick()"
            >
              Hủy
            </button>
            <button
              class="btn btn-primary btn-custom btn-custom-large py-2"
              type="submit"
              content="Save"
              *ngIf=" !enableApprove"
              (click)="submitAndDisable()"
              [disabled]="isButtonDisabled"
            >
              Lưu
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="hr"></div>
<div [ngbCollapse]="idPlan ? false : true">
  <div class="d-flex container-collapse" (click)="toggleCollapse()">
    <div class="fa-1x mx-4 my-3">
      <i [className]="isCollapsed ? 'fa fa-plus' : 'fa fa-minus'"></i>
    </div>
    <span class="label-custom">Nhân lực dự kiến cho tổ đội sản xuất</span>
  </div>
  <ejs-grid
    #gridMember 
    [ngbCollapse]="isCollapsed"
    [dataSource]="memberDetail"
    [pageSettings]="pageSettings"
    [editSettings]="editSettings"
    [allowPaging]="true"
    [toolbar]="toolbarOptions"
    (actionBegin)="actionBeginMember($event)"
    (actionComplete)="actionComplete($event)"
  >
    <e-columns>
      <e-column
        field="Member.Id"
        headerText="Thành viên"
        editType="dropdownedit"
      >
        <ng-template let-data #template>{{
          handleRenderMember(data.MemberId)
        }}</ng-template>

        <ng-template #editTemplate let-data>
          <ejs-dropdownlist
            [dataSource]="listUser"
            [ngModelOptions]="{ standalone: true }"
            floatLabelType="Auto"
            [fields]="dropdownUser"
            [itemTemplate]="itemTemplate"
            [valueTemplate]="valueTemplate"
            [(ngModel)]="data.MemberId"
            (valueChange)="onInputChangeMem({ key: 'MemberId', value: $event })"
            placeHolder="Thành viên*"
          >
            <ng-template #itemTemplate let-data>
              <span>{{ data.FirstName }} {{ data.LastName }}</span>
            </ng-template>

            <ng-template #valueTemplate let-data>
              <span>{{ data.FirstName }} {{ data.LastName }}</span>
            </ng-template>
          </ejs-dropdownlist>
          <p *ngIf="messageName" style="color: red">
            Thông tin này là bắt buộc.
          </p>
        </ng-template>
      </e-column>

      <e-column field="Role" headerText="Vai trò">
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-dropdownlist
              id="ddlelement"
              [dataSource]="listRole"
              placeholder="Vai Trò"
              [fields]="fields"
              [value]="data.Role"
              floatLabelType="Auto"
              (valueChange)="onInputChangeMem({ key: 'Role', value: $event })"
            >
            </ejs-dropdownlist>
          </div>
        </ng-template>
      </e-column>
      <e-column field="Description" headerText="Mô tả">
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="Name"
              #default
              [multiline]="true"
              floatLabelType="Auto"
              rows="1"
              [value]="data.Description"
              (valueChange)="
                onInputChangeMem({ key: 'Description', value: $event })
              "
              key="Description"
              placeHolder="Mô tả"
            ></ejs-textbox>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>
<div class="hr"></div>
<div [ngbCollapse]="idPlan ? false : true">
  <div class="d-flex container-collapse" (click)="toggleCollapse1()">
    <div class="fa-1x mx-4 my-3">
      <i [className]="isCollapsed1 ? 'fa fa-plus' : 'fa fa-minus'"></i>
    </div>
    <span class="label-custom">Phân đoạn chi tiết</span>
  </div>
  <ejs-grid
    #gridSegment
    [ngbCollapse]="isCollapsed1"
    [dataSource]="listSegment"
    [allowTextWrap]="true"
    [pageSettings]="pageSettings"
    [editSettings]="editSettings3"
    [allowPaging]="true"
    (actionBegin)="onActionBegin($event)"
    (actionComplete)="actionCompleteSegment($event)"
    [toolbar]="toolbarOptions"
  >
    <e-columns>
      <e-column
        field="Scenario"
        headerText="Phân đoạn sản xuất"
        editType="editTemplate"
      >
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              #default
              [multiline]="true"
              [value]="data.Scenario"
              floatLabelType="Auto"
              [readonly]="!enableForm"
              rows="1"
              placeholder="Phân đoạn sản xuất*"
              (valueChange)="
                onInputChangeSegment({ key: 'Scenario', value: $event })
              "
            ></ejs-textbox>
          </div>
          <p *ngIf="messageSegment" style="color: red">
            Thông tin này là bắt buộc.
          </p>
        </ng-template>
      </e-column>
      <e-column field="FromDate" headerText="Ngày bắt đầu" format="dd/MM/yyyy">
        <ng-template #template let-data>
          {{ data.FromDate | date : "dd/MM/yyyy" }}
        </ng-template>
        <ng-template #editTemplate let-data>
          <ejs-datepicker
            [value]="data.FromDate"
            (valueChange)="
              onInputChangeSegment({ key: 'FromDate', value: $event })
            "
            placeholder="Ngày bắt đầu"
            floatLabelType="Auto"
            [readonly]="!enableForm"
            format="dd/MM/yyyy"
          >
          </ejs-datepicker>
        </ng-template>
      </e-column>
      <e-column field="ToDate" headerText="Ngày kết thúc" format="dd/MM/yyyy">
        <ng-template #template let-data>
          {{ data.ToDate | date : "dd/MM/yyyy" }}
        </ng-template>
        <ng-template #editTemplate let-data>
          <ejs-datepicker
            [value]="data.ToDate"
            (valueChange)="
              onInputChangeSegment({ key: 'ToDate', value: $event })
            "
            placeholder="Ngày kết thúc"
            floatLabelType="Auto"
            format="dd/MM/yyyy"
          >
          </ejs-datepicker>
        </ng-template>
      </e-column>
      <e-column
        field="Province.Name"
        headerText="Tỉnh/Thành Phố"
        editType="dropdownedit"
      >
        <ng-template #editTemplate let-data>
          <ejs-dropdownlist
            placeHolder="Tỉnh/Thành Phố"
            floatLabelType="Auto"
            [dataSource]="addressDetail"
            [fields]="dropdownField"
            [readonly]="!enableForm"
            (valueChange)="onChangeProvince($event)"
            [value]="data.ProvinceId"
          >
          </ejs-dropdownlist>
        </ng-template>
      </e-column>
      <e-column
        field="District.Name"
        headerText="Quận/Huyện"
        editType="dropdownedit"
      >
        <ng-template #editTemplate let-data>
          <ejs-dropdownlist
            floatLabelType="Auto"
            placeHolder="Quận/Huyện"
            [dataSource]="addressDistrict"
            [fields]="dropdownField"
            (valueChange)="onChangeDistrict($event)"
            [value]="data.DistrictId"
          >
          </ejs-dropdownlist>
        </ng-template>
      </e-column>
      <e-column
        field="Commune.Name"
        headerText="Xã/Phường"
        editType="dropdownedit"
      >
        <ng-template #editTemplate let-data>
          <ejs-dropdownlist
            placeHolder="Xã/Phường"
            floatLabelType="Auto"
            [dataSource]="addressCommune"
            [fields]="dropdownField"
            (valueChange)="onChangeCommune($event)"
            [value]="data.CommuneId"
          >
          </ejs-dropdownlist>
        </ng-template>
      </e-column>
      <e-column
        field="Address"
        headerText="Địa chỉ cụ thể"
        editType="editTemplate"
      >
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              #default
              [multiline]="true"
              [value]="data.Address"
              floatLabelType="Auto"
              rows="1"
              placeholder="Địa chỉ cụ thể"
              (valueChange)="
                onInputChangeSegment({ key: 'Address', value: $event })
              "
            ></ejs-textbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="Budget" headerText="Chi phí (VND)" format="N0">
        <ng-template #editTemplate let-data>
          <ejs-textbox
            #default
            [value]="data.Budget"
            floatLabelType="Auto"
            format="N0"
            placeholder="Chi phí"
            (valueChange)="
              onInputChangeSegment({ key: 'Budget', value: $event })
            "
          >
          </ejs-textbox>
        </ng-template>
        <ng-template #template let-data>
          <div class="">
            <div>
              <div>{{ data.Budget | number }}</div>
            </div>
          </div>
        </ng-template>
      </e-column>
      <e-column
        field="PreproductionsegmentMembers"
        headerText="Thành Viên"
        [visible]="isAddMode"
      >
        <ng-template #template let-data>
          <div>{{ data.PreproductionsegmentMembers?.length }}</div>
        </ng-template>
        <ng-template #editTemplate let-data>
          <label class="label-custom">Thành viên cho phân đoạn</label>
          <ejs-grid
            #nestedGrid
            [dataSource]="listSegmentMember"
            [pageSettings]="pageSettings"
            [editSettings]="editSettings2"
            [allowPaging]="true"
            (actionComplete)="actionCompleteSegmentMember($event)"
            (actionBegin)="onActionBeginSegmentMember($event, data.Id)"
            [toolbar]="toolbarOptions"
          >
            <e-columns>
              <e-column
                field="UserId"
                headerText="Thành viên"
                editType="dropdownedit"
              >
                <ng-template let-data #template>{{
                  handleRenderMember(data.UserId)
                }}</ng-template>

                <ng-template #editTemplate let-data>
                  <ejs-dropdownlist
                    [dataSource]="listUser"
                    [ngModelOptions]="{ standalone: true }"
                    floatLabelType="Auto"
                    [fields]="dropdownUser"
                    placeHolder="Thành viên*"
                    [itemTemplate]="itemTemplate"
                    [valueTemplate]="valueTemplate"
                    [(ngModel)]="data.UserId"
                    (valueChange)="
                      onInputChangeSegmentMember({
                        key: 'UserId',
                        value: $event
                      })
                    "
                  >
                    <ng-template #itemTemplate let-data>
                      <span>{{ data.FirstName }} {{ data.LastName }}</span>
                    </ng-template>

                    <ng-template #valueTemplate let-data>
                      <span>{{ data.FirstName }} {{ data.LastName }}</span>
                    </ng-template>
                  </ejs-dropdownlist>
                  <p *ngIf="messageSegmentMember" style="color: red">
                    Thông tin này là bắt buộc.
                  </p>
                </ng-template>
              </e-column>
              <e-column
                field="Role"
                headerText="Vai Trò"
                editType="editTemplate"
              >
                <ng-template #editTemplate let-data>
                  <div class="multiline">
                    <ejs-textbox
                      #default
                      [multiline]="true"
                      [value]="data.Role"
                      floatLabelType="Auto"
                      placeholder="Vai Trò"
                      (valueChange)="
                        onInputChangeSegmentMember({
                          key: 'Role',
                          value: $event
                        })
                      "
                    ></ejs-textbox>
                  </div>
                </ng-template>
              </e-column>
              <e-column
                field="Description"
                headerText="Mô Tả"
                editType="editTemplate"
              >
                <ng-template #editTemplate let-data>
                  <div class="multiline">
                    <ejs-textbox
                      #default
                      [multiline]="true"
                      [value]="data.Description"
                      floatLabelType="Auto"
                      placeholder="Mô Tả"
                      (valueChange)="
                        onInputChangeSegmentMember({
                          key: 'Description',
                          value: $event
                        })
                      "
                    ></ejs-textbox>
                  </div>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>
<div class="hr"></div>
<div [ngbCollapse]="idPlan ? false : true">
  <div class="d-flex container-collapse" (click)="toggleCollapse2()">
    <div class="fa-1x mx-4 my-3">
      <i [className]="isCollapsed2 ? 'fa fa-plus' : 'fa fa-minus'"></i>
    </div>
    <span class="label-custom">Dự toán sản xuất</span>
  </div>
  <ejs-grid
    [ngbCollapse]="isCollapsed2"
    #gridEstimate
    [dataSource]="listEstimate"
    [pageSettings]="pageSettings"
    [allowTextWrap]="true"
    [editSettings]="editSettings"
    [allowPaging]="true"
    (actionBegin)="actionBegin($event)"
    (actionComplete)="actionCompleteEstimate($event)"
    [toolbar]="toolbarOptions"
  >
    <e-columns>
      <e-column field="TaskName" headerText="Tên Dự Toán">
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="TaskName"
              #default
              [value]="data.TaskName"
              floatLabelType="Auto"
              rows="1"
              placeholder="Tên Dự Toán*"
              (valueChange)="
                onInputChangeValue({ key: 'TaskName', value: $event })
              "
              required="true"
            ></ejs-textbox>
          </div>
          <p *ngIf="messageEstimate" style="color: red">
            Thông tin này là bắt buộc.
          </p>
        </ng-template>
      </e-column>
      <e-column field="Description" headerText="Mô Tả">
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="Description"
              #default
              [value]="data.Description"
              floatLabelType="Auto"
              rows="1"
              placeholder="Mô Tả"
              (valueChange)="
                onInputChangeValue({
                  key: 'Description',
                  value: $event
                })
              "
              required="true"
            ></ejs-textbox>
          </div>
        </ng-template>
      </e-column>
      <e-column
        field="TimeEstimate"
        headerText="Thời gian ước tính (ngày)"
        textAlign="Center"
      >
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="TimeEstimate"
              #default
              type="number"
              [value]="data.TimeEstimate"
              floatLabelType="Auto"
              rows="1"
              placeholder="Thời Gian Ước Tính (ngày)"
              (change)="onInputChangeNumber($event)"
              required="true"
            ></ejs-textbox>
          </div>
        </ng-template>
      </e-column>
      <e-column
        field="HumanResourceEstimate"
        headerText="Chi phí nhân lực ước tính"
        textAlign="Center"
      >
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="HumanResourceEstimate"
              #default
              type="number"
              [value]="data.HumanResourceEstimate"
              floatLabelType="Auto"
              rows="1"
              placeholder="Chi phí nhân lực ước tính"
              (change)="onInputChangeNumber1($event)"
              required="true"
            ></ejs-textbox>
          </div>
        </ng-template>
        <ng-template #template let-data>
          <div class="">
            <div>
              <div>{{ data.HumanResourceEstimate | number }}</div>
            </div>
          </div>
        </ng-template>
      </e-column>
      <e-column
        field="OtherResourceEstimate"
        headerText="Ước tính khác"
        textAlign="Center"
      >
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="OtherResourceEstimate"
              #default
              type="number"
              [value]="data.OtherResourceEstimate"
              floatLabelType="Auto"
              rows="1"
              placeholder="Ước tính khác"
              (change)="onInputChangeNumber2($event)"
            ></ejs-textbox>
          </div>
        </ng-template>
        <ng-template #template let-data>
          <div class="">
            <div>
              <div>{{ data.OtherResourceEstimate | number }}</div>
            </div>
          </div>
        </ng-template>
      </e-column>

      <e-column
        field="CreatedByNavigation.Id"
        headerText="Người tạo"
        width="150"
        isPrimaryKey="true"
      >
        <ng-template let-data #template>{{
          handleRenderMember(data.CreatedBy)
        }}</ng-template>
        <ng-template #editTemplate let-data> </ng-template>
      </e-column>

      <e-column
        field="CreatedAt"
        headerText="Thời gian tạo"
        format="dd/MM/yyyy"
        type="date"
      >
        <ng-template #editTemplate let-data> </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>

<label
  *ngIf="idPlan && showProgress || planDetail.Status == -5 "
  class="label-title"
  style="margin-top: 20px; margin-bottom: 16px"
  >Quá trình sản xuất</label
>

<div [ngbCollapse]="idPlan && showProgress  ? false : true">
  <div class="d-flex container-collapse" (click)="toggleCollapse5()">
    <div class="fa-1x mx-4 my-3">
      <i [className]="isCollapsed5 ? 'fa fa-plus' : 'fa fa-minus'"></i>
    </div>
    <span class="label-custom">Tiến độ sản xuất</span>
  </div>
  <ejs-grid
    #gridProgress
    [ngbCollapse]="isCollapsed5"
    [allowTextWrap]="true"
    [pageSettings]="pageSettings"
    [editSettings]="editSettings2"
    [allowPaging]="true"
    [toolbar]="toolbarOptions"
    (actionBegin)="actionBeginProgress($event)"
    (actionComplete)="actionCompleteProgress($event)"
    [dataSource]="listProgress"
  >
    <e-columns>
      <e-column
        field="Segment.Scenario"
        headerText="Phân đoạn"
        editType="dropdownedit"
      >
        <ng-template #editTemplate let-data>
          <ejs-dropdownlist
            floatLabelType="Auto"
            [dataSource]="listSegementDropdown"
            [fields]="dropdownProgress"
            [value]="data.SegmentId"
            placeholder="Phân đoạn*"
            (valueChange)="
              onChangeProgress({ key: 'SegmentId', value: $event })
            "
          >
          </ejs-dropdownlist>
          <p *ngIf="messageProgess" style="color: red">
            Thông tin này là bắt buộc.
          </p>
        </ng-template>
      </e-column>
      <e-column
        field="FromDate"
        headerText="Thời gian bắt đầu"
        format="dd/MM/yyyy"
        textAlign="Right"
      >
        <ng-template #template let-data>
          {{ data.FromDate | date : "dd/MM/yyyy" }}
        </ng-template>

        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-datepicker
              name="FromDate"
              #default
              [value]="data.FromDate"
              floatLabelType="Auto"
              rows="1"
              placeholder="Thời gian bắt đầu"
              (valueChange)="
                onChangeProgress({ key: 'FromDate', value: $event })
              "
            ></ejs-datepicker>
          </div>
        </ng-template>
      </e-column>
      <e-column
        field="ToDate"
        headerText="Thời gian kết thúc"
        format="dd/MM/yyyy"
        textAlign="Right"
      >
        <ng-template #template let-data>
          {{ data.ToDate | date : "dd/MM/yyyy" }}
        </ng-template>

        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-datepicker
              name="ToDate"
              #default
              [value]="data.ToDate"
              floatLabelType="Auto"
              rows="1"
              placeholder="Thời gian kết thúc"
              (valueChange)="onChangeProgress({ key: 'ToDate', value: $event })"
            ></ejs-datepicker>
          </div>
        </ng-template>
      </e-column>
      <e-column
        field="SegmentProgress"
        headerText="Tiến trình phân đoạn(%)"
        textAlign="Center"
      >
        <ng-template #template let-data>
          {{ data.SegmentProgress + "%" }}
        </ng-template>

        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="SegmentProgress"
              #default
              type="number"
              [value]="data.SegmentProgress"
              floatLabelType="Auto"
              rows="1"
              placeholder="Tiến trình phân đoạn(%)"
              (valueChange)="onChangeProgressPercent($event)"
            ></ejs-textbox>
          </div>
        </ng-template>
      </e-column>
      <e-column
        field="ExpenseTypeNavigation.Name"
        headerText="Loại chi phí"
      ></e-column>
      <e-column field="Expense" headerText="Chi phí (VND)" textAlign="Center">
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="Expense"
              #default
              type="number"
              [value]="data.Expense"
              floatLabelType="Auto"
              rows="1"
              placeholder="Chi phí"
              (valueChange)="onChangeProgressExpense($event)"
            ></ejs-textbox>
          </div>
        </ng-template>
        <ng-template #template let-data>
          <div class="">
            <div>
              <div>{{ data.Expense | number }}</div>
            </div>
          </div>
        </ng-template>
      </e-column>
      <e-column field="Note" headerText="Ghi chú">
        <ng-template #editTemplate let-data>
          <div class="multiline">
            <ejs-textbox
              name="Note"
              #default
              [value]="data.Note"
              floatLabelType="Auto"
              rows="1"
              placeholder="Ghi chú"
              (valueChange)="onChangeProgress({ key: 'Note', value: $event })"
            ></ejs-textbox>
          </div>
        </ng-template>
      </e-column>
      <e-column field="Status" headerText="Trạng thái">
        <ng-template #template let-data>
          {{ renderStatus(data) }}
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
</div>
<div class="hr"></div>
<div [ngbCollapse]="idPlan && showProgress || planDetail.Status == -5   ? false : true">
  <div class="d-flex container-collapse" (click)="toggleCollapse6()">
    <div class="fa-1x mx-4 my-3">
      <i [className]="isCollapsed6 ? 'fa fa-plus' : 'fa fa-minus'"></i>
    </div>
    <span class="label-custom">Kết thúc sản xuất tiền kỳ</span>
  </div>
  <form [ngbCollapse]="isCollapsed6" (ngSubmit)="onSubmitEdit()" #form="ngForm">
    <div id="collapseExample">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="form-group col-md-4">
              <label class="label-custom">Thời gian đóng</label>
              <ejs-datepicker
                rows="1"
                [value]="planDetail.CloseDate"
                [readonly]="!enableForm || planDetail.Status === 5"
                placeholder="Thời gian đóng"
                (valueChange)="
                  onInputChange2({ key: 'CloseDate', value: $event })
                "
              ></ejs-datepicker>
            </div>

            <div class="form-group col-md-4">
              <label class="label-custom">Lý do đóng</label>
              <ejs-textbox
                rows="1"
                [value]="planDetail.CloseReason"
                [readonly]="!enableForm || planDetail.Status === 5"
                placeHolder="Lý do đóng"
                (valueChange)="
                  onInputChange2({ key: 'CloseReason', value: $event })
                "
              ></ejs-textbox>
            </div>

            <div class="form-group col-md-4">
              <label class="label-custom">Ghi chú</label>
              <ejs-textbox
                rows="1"
                [value]="planDetail.CloseNote"
                placeHolder="Ghi Chú"
                [readonly]="!enableForm || planDetail.Status === 5"
                (valueChange)="
                  onInputChange2({ key: 'CloseNote', value: $event })
                "
              ></ejs-textbox>
            </div>
          </div>
          <div
            *ngIf="checkClose && enableForm"
            class="row col justify-content-center mt-5"
            style="margin-left: 3px"
          >
            <button
              class="btn btn-secondary btn-custom mr-4 btn-custom-large py-2"
              type="button"
              (click)="onCancelClick()"
            >
              Hủy
            </button>
            <button
              class="btn btn-primary btn-custom btn-custom-large py-2"
              type="submit"
              content="Save"
            >
              Lưu
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div
  *ngIf="idPlan"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
  "
>
  <div
    *ngIf="planDetail.Status !== 0 || enableApprove"
    style="
      display: flex;
      align-items: center;
      margin-top: 65px;
      width: 50%;
      margin-bottom: -30px;
    "
  >
    <div style="border-bottom: 1px solid #000; flex-grow: 1; width: 25%"></div>
    <div style="flex-grow: 1; text-align: center">
      <div
        style="
          padding: 0 10px;
          font-size: 25px;
          font-family: 'Museo Sans Rounded';
          font-weight: 900;
        "
        class="label-title;"
      >
        LÃNH ĐẠO DUYỆT
      </div>
    </div>
    <div style="border-bottom: 1px solid #000; flex-grow: 1; width: 25%"></div>
  </div>
</div>

<div style="margin-top: -10px">
  <div *ngIf="planDetail.Status != 0 || enableApprove">
    <label
      *ngIf="idPlan"
      class="label-title"
      style="width: 100%; margin-top: 50px; margin-bottom: 16px"
      >Phê duyệt kế hoạch sản xuất tiền kỳ</label
    >
    <div [ngbCollapse]="idPlan ? false : true">
      <div class="d-flex container-collapse" (click)="toggleCollapse3()">
        <div class="fa-1x mx-4 my-3">
          <i [className]="isCollapsed3 ? 'fa fa-plus' : 'fa fa-minus'"></i>
        </div>
        <span class="label-custom">Thông tin phê duyệt</span>
      </div>
      <div [ngbCollapse]="isCollapsed3" id="collapseExample">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row" *ngIf="aprovedTimes > 0">
                <div class="form-group col-3">
                  <label class="label-custom" for="Name"
                    >Người duyệt kế hoạch:
                  </label>
                  <span>
                    {{ handleRenderMember(approvedDetail.ProcessedBy) }}</span
                  >
                </div>
                <div class="form-group col-3">
                  <label class="label-custom" for="Name">Ngày duyệt: </label>
                  <span *ngIf="approvedDetail.ProcessedAt">
                    {{ handleRenderDate(approvedDetail.ProcessedAt) }}</span
                  >
                </div>
                <div class="form-group col-3">
                  <label class="label-custom" for="Name"
                    >Kết quả duyệt kế hoạch:
                  </label>
                  <span> {{ handleRenderResult(approvedDetail.Result) }}</span>
                </div>
                <div class="form-group col-3">
                  <label class="label-custom" for="Name"
                    >Lần duyệt kế hoạch:
                  </label>
                  <span> {{ aprovedTimes }}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col">
                  <label class="label-custom" for="Name">Nhận xét</label>
                  <app-textarea-input
                    [multiline]="true"
                    (newItemEvent)="onInputComment($event)"
                    key="Comment"
                    [readonly]="!enableApprove"
                    [value]="
                      approvedDetail !== undefined ? approvedDetail.Comment : ''
                    "
                    placeHolder="Nhập nhận xét..."
                  ></app-textarea-input>
                </div>
              </div>
              <div
                class="row justify-content-center mt-4 mb-5"
                *ngIf="enableApprove"
              >
                <button
                  *ngIf="!showProgress && planDetail.Status <= 3"
                  class="btn btn-secondary btn-custom mr-4 btn-custom-large py-2"
                  type="button"
                  (click)="onSubmitApprove(status.REJECT)"
                >
                  Từ chối
                </button>
                <button
                  *ngIf="!showProgress || planDetail.Status == 3"
                  class="btn btn-primary btn-custom btn-custom-large py-2"
                  type="submit"
                  content="Save"
                  (click)="onSubmitApprove(status.APPROVE)"
                >
                  Phê duyệt
                </button>
              </div>
            </form>
          </div>
        </div>
        <div #container class="root-container"></div>
      </div>
    </div>
  </div>
  <div *ngIf="planDetail.Status != 0 || enableApprove">
    <div [ngbCollapse]="idPlan ? false : true" style="margin-top: 10px">
      <div class="d-flex container-collapse" (click)="toggleCollapse8()">
        <div class="fa-1x mx-4 my-3">
          <i [className]="isCollapsed8 ? 'fa fa-plus' : 'fa fa-minus'"></i>
        </div>
        <span class="label-custom">Lịch sử phê duyệt</span>
      </div>
      <div *ngIf="listApproved.length === 0" class="no-approval-history">
        <div [ngbCollapse]="isCollapsed8">
          <div
            class="card"
            style="margin-top: 10px; border: 0px"
            style="height: 57px"
          >
            <div class="card-body">
              <p style="color: red">Chưa có lượt duyệt nào.</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="listApproved && listApproved.length">
        <div *ngFor="let item of listApproved; let i = index">
          <div [ngbCollapse]="isCollapsed8">
            <div class="card" style="margin-top: -5px">
              <div class="card-body">
                <form>
                  <div class="row" *ngIf="aprovedTimes > 0">
                    <div class="form-group col-3">
                      <label class="label-custom" for="Name"
                        >Người duyệt:</label
                      >
                      <span> {{ handleRenderMember(item.ProcessedBy) }}</span>
                    </div>

                    <div class="form-group col-3">
                      <label class="label-custom" for="Name">Ngày duyệt:</label>
                      <span *ngIf="item.ProcessedAt">
                        {{ handleRenderDate(item.ProcessedAt) }}</span
                      >
                    </div>
                    <div class="form-group col-3">
                      <label class="label-custom" for="Name"
                        >Kết quả duyệt:
                      </label>
                      <span> {{ handleRenderResult(item.Result) }}</span>
                    </div>

                    <div class="form-group col-3">
                      <label class="label-custom" for="Name"
                        >Lần duyệt:&nbsp;</label
                      >
                      <span>{{ aprovedTimes - i }}</span>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col">
                      <label
                        class="label-custom"
                        for="Name"
                        (click)="toggleCommentVisibility1(i)"
                      >
                        <div style="display: flex; align-items: center">
                          <div
                            style="
                              margin-right: 10px;
                              font-size: 23px;
                              margin-top: -6px;
                            "
                          >
                            {{
                              i === selectedCommentIndex1 && isCommentVisible1
                                ? "-"
                                : "+"
                            }}
                          </div>
                          Nhận xét
                        </div>
                      </label>
                    </div>
                  </div>

                  <div
                    class="row"
                    *ngIf="isCommentVisible1 && i === selectedCommentIndex1"
                  >
                    <div class="form-group col">
                      <app-textarea-input
                        [multiline]="true"
                        [readonly]="true"
                        (newItemEvent)="onInputComment($event)"
                        key="Comment"
                        [value]="item !== undefined ? item.Comment : ''"
                      ></app-textarea-input>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div #container class="root-container"></div>
          </div>
        </div>
      </div>

      <div *ngIf="checkApproved">
        <div *ngIf="planDetail.Status != 0 || enableApprove">
          <label
            *ngIf="idPlan"
            class="label-title"
            style="width: 100%; margin-top: 50px; margin-bottom: 16px"
            >Phê duyệt đóng sản xuất tiền kỳ</label
          >
          <div [ngbCollapse]="idPlan ? false : true">
            <div class="d-flex container-collapse" (click)="toggleCollapse10()">
              <div class="fa-1x mx-4 my-3">
                <i
                  [className]="isCollapsed10 ? 'fa fa-plus' : 'fa fa-minus'"
                ></i>
              </div>
              <span class="label-custom">Thông tin phê duyệt</span>
            </div>
            <div [ngbCollapse]="isCollapsed10" id="collapseExample">
              <div class="card">
                <div class="card-body">
                  <form>
                    <div class="row" *ngIf="aprovedTimes1 > 0">
                      <div class="form-group col-3">
                        <label class="label-custom" for="Name"
                          >Người duyệt đóng:
                        </label>
                        <span>
                          {{
                            handleRenderMember(approvedClose.ProcessedBy)
                          }}</span
                        >
                      </div>
                      <div class="form-group col-3">
                        <label class="label-custom" for="Name"
                          >Ngày duyệt đóng:
                        </label>
                        <span *ngIf="approvedClose.ProcessedAt">
                          {{
                            handleRenderDate(approvedClose.ProcessedAt)
                          }}</span
                        >
                      </div>
                      <div class="form-group col-3">
                        <label class="label-custom" for="Name"
                          >Kết quả duyệt đóng:
                        </label>
                        <span>
                          {{ handleRenderResult(approvedClose.Result) }}</span
                        >
                      </div>
                      <div class="form-group col-3">
                        <label class="label-custom" for="Name"
                          >Lần duyệt đóng:
                        </label>
                        <span> {{ aprovedTimes1 }}</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col">
                        <label class="label-custom" for="Name">Nhận xét</label>
                        <app-textarea-input
                          [multiline]="true"
                          (newItemEvent)="onInputCommentClose($event)"
                          key="Comment"
                          [readonly]="!enableApprove"
                          [value]="
                            approvedClose !== undefined
                              ? approvedClose.Comment
                              : ''
                          "
                          placeHolder="Nhập nhận xét..."
                        ></app-textarea-input>
                      </div>
                    </div>
                    <div
                      class="row justify-content-center mt-4 mb-5"
                      *ngIf="enableApprove"
                    >
                      <button
                        *ngIf="
                          (checkClose &&
                            showProgress &&
                            planDetail.Status > 3) ||
                          planDetail.Status == -5
                        "
                        class="btn btn-secondary btn-custom mr-4 btn-custom-large py-2"
                        type="button"
                        (click)="onSubmitApproveClose(status.REJECT)"
                      >
                        Từ chối
                      </button>

                      <button
                        *ngIf="
                          (showProgress && planDetail.Status > 3) ||
                          planDetail.Status == -5
                        "
                        class="btn btn-primary btn-custom btn-custom-large py-2"
                        type="submit"
                        content="Save"
                        (click)="onSubmitApproveClose(status.APPROVE)"
                      >
                        Duyệt đóng
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div #container class="root-container"></div>
            </div>
          </div>
        </div>

        <div [ngbCollapse]="idPlan ? false : true" style="margin-top: 10px">
          <div class="d-flex container-collapse" (click)="toggleCollapse9()">
            <div class="fa-1x mx-4 my-3">
              <i [className]="isCollapsed9 ? 'fa fa-plus' : 'fa fa-minus'"></i>
            </div>
            <span class="label-custom">Lịch sử phê duyệt</span>
          </div>
          <div
            *ngIf="listApprovedClose.length === 0"
            class="no-approval-history"
          >
            <div [ngbCollapse]="isCollapsed9">
              <div
                class="card"
                style="margin-top: 10px; border: 0px"
                style="height: 57px"
              >
                <div class="card-body">
                  <p style="color: red">Chưa có lượt duyệt tiến độ nào.</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="listApprovedClose && listApprovedClose.length">
            <div *ngFor="let item of listApprovedClose; let i = index">
              <div [ngbCollapse]="isCollapsed9">
                <div class="card" style="margin-top: -5px">
                  <div class="card-body">
                    <form>
                      <div class="row" *ngIf="aprovedTimes > 0">
                        <div class="form-group col-3">
                          <label class="label-custom" for="Name"
                            >Người duyệt đóng:
                          </label>
                          <span>
                            {{ handleRenderMember(item.ProcessedBy) }}</span
                          >
                        </div>
                        <div class="form-group col-3">
                          <label class="label-custom" for="Name"
                            >Ngày duyệt đóng:
                          </label>
                          <span *ngIf="item.ProcessedAt">
                            {{ handleRenderDate(item.ProcessedAt) }}</span
                          >
                        </div>
                        <div class="form-group col-3">
                          <label class="label-custom" for="Name"
                            >Kết quả duyệt đóng:
                          </label>
                          <span> {{ handleRenderResult(item.Result) }}</span>
                        </div>
                        <div class="form-group col-3">
                          <label class="label-custom" for="Name"
                            >Lần duyệt:&nbsp;</label
                          >
                          <span>{{ aprovedTimes1 - i }}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col">
                          <label
                            class="label-custom"
                            for="Name"
                            (click)="toggleCommentVisibility(i)"
                          >
                            <div style="display: flex; align-items: center">
                              <div
                                style="
                                  margin-right: 10px;
                                  font-size: 23px;
                                  margin-top: -6px;
                                "
                              >
                                {{
                                  i === selectedCommentIndex && isCommentVisible
                                    ? "-"
                                    : "+"
                                }}
                              </div>
                              Nhận xét
                            </div>
                          </label>
                        </div>
                      </div>

                      <div
                        class="row"
                        *ngIf="isCommentVisible && i === selectedCommentIndex"
                      >
                        <div class="form-group col">
                          <app-textarea-input
                            [multiline]="true"
                            [readonly]="true"
                            (newItemEvent)="onInputComment($event)"
                            key="Comment"
                            [value]="item !== undefined ? item.Comment : ''"
                          ></app-textarea-input>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div #container class="root-container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div #container class="root-container"></div>
<ejs-dialog #ejDialogSegment [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>
<div #container class="root-container"></div>
<ejs-dialog #ejDialogMember [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>
<div #container class="root-container"></div>
<ejs-dialog #ejDialogEstimate [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>
<div #container class="root-container"></div>
<ejs-dialog #ejDialogProgress [visible]="false" [target]="targetElement" width="300px">
</ejs-dialog>